name: Generate and Host Docs

run-name: ${{ github.actor }} has made changes to main branch or docs/ branch

on:
  push:
    branches:
      - 'main'
      - 'docs/**'

jobs:
  doxygen:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
      
    - name: Running Doxygen
      uses: mattnotmitt/doxygen-action@v1.9.5
      with:
        doxyfile-path: "./Doxyfile"
        working-directory: "."

    - name: Deploying to Github Pages
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/software/html
      
  
